@page
@{
    ViewData["Title"] = "About";
}


<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About VINES</h2>
          <p>Vaccine Information and Educating System.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h3>What is VINES? </h3>
            <p>
              VINES is an information disseminating web application that provides factual information regarding Vaccines.
            </p>
            <br />
              <h4>Services Offered: </h4>
            <ul>
              <li><i class="bx bx-check-double"></i> Provide News and Updates regarding Vaccines.</li>
              <li><i class="bx bx-check-double"></i> Generate lists of Institutions with your preferred Vaccines.</li>
              <li><i class="bx bx-check-double"></i> Host Advertisements.</li>
              <li><i class="bx bx-check-double"></i> View Institutions with specific Vaccines.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
              <h3>Our Mission: </h3>
            <p>
              To provide relevant, factual and timely updates for information on Vaccines around Metro Manila. This is achieved by putting together news content from various public health and news departments from the Philippines with the ultimate goal of being able to create informed decisions with regards to vaccines.
            </p>
              
          </div>
        </div>

      </div>
    </section><!-- End About Section -->